resource_types:
- name: email
  type: docker-image
  source:
    repository: pcfseceng/email-resource

resources:
- name: r-git
  type: git
  check_every: 168h
  source:
    uri: ((git_uri))
    branch: ((git_branch))
    private_key: ((r-git-ssh.private_key))

{% for pipeline in pipelines -%}
- name: r-docker-image-{{ pipeline.job_name }}
  type: docker-image
  source: 
    repository: ((docker_repository))/{{ pipeline.job_name }}
    tag: v1
{% endfor -%}

- name: r-email
  type: email
  source:
    smtp:
      host: ((smtp_host))
      port: "587" # this must be a string
      username: ((r-email.username))
      password: ((r-email.password))
      host_origin: ((smtp_host))
    from: ((smtp_from))
    to: 
      - ((smtp_to))

jobs:
{% for pipeline in pipelines -%}
- name: j-{{ pipeline.job_name }}
  plan:
    - get: r-git
      params:
        branch: ((git_branch))
      trigger: True

    - put: r-docker-image-{{ pipeline.job_name }}
      params:
        build: r-git/{{ pipeline.job_name }}
        build_args: 
          http_proxy: ((http_proxy))
      on_failure:
        put: r-email
        params:
          subject_text: "Build failed: ${BUILD_PIPELINE_NAME}/${BUILD_JOB_NAME}/${BUILD_NAME}"
          body_text: "Docker image build failed: ${ATC_EXTERNAL_URL}/teams/main/pipelines/${BUILD_PIPELINE_NAME}/jobs/${BUILD_JOB_NAME}/builds/${BUILD_NAME}"
    - put: r-email
      params:
        subject_text: "Build finished: ${BUILD_PIPELINE_NAME}/${BUILD_JOB_NAME}/${BUILD_NAME}"
        body_text: "${ATC_EXTERNAL_URL}/teams/main/pipelines/${BUILD_PIPELINE_NAME}/jobs/${BUILD_JOB_NAME}/builds/${BUILD_NAME}"
{% endfor -%}

- name: j-git-release
  plan:
    - get: r-git
      params:
        branch: dev
      passed:
        {% for pipeline in pipelines -%}
        - j-{{ pipeline.job_name }}
        {% endfor %}
    - put: r-git
      params:
        branch: release
